<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
      <connectionStrings>
        <add name="PruebaObjetos"
            connectionString="Server = localhost\SQLEXPRESS; Database = Administracion; Integrated Security=True;"
            providerName="System.Data.SqlClient" />
      </connectionStrings>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>